@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap");
#root {
  height: 100vh;
  width: 100vw;
  display: table-cell;
  background-image: url("../images/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: inherit;
}

button a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

#brand {
  font-family: "Comforter Brush", cursive;
  font-size: 26px;
  margin-top: 1em;
  margin-left: 4em;
  color: white;
  font-weight: lighter;
  text-transform: none;
}

#avatar {
  width: 220px;
  height: 250px;
  object-fit: cover;
  filter: grayscale(50%) contrast(120%);
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.container .projectsCard p {
  line-height: 2em;
  font-family: "Jura", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -5px 20px 5px rgba(0, 0, 0, 0.05);
}

.btn {
  font-weight: lighter !important;
  margin: 5px;
}

.about p {
  color: rgb(223, 221, 221);
  font-size: 22px;
  padding-left: 30px;
}

.projectImg {
  opacity: 70%;
}
.carousel-item {
  max-height: 500px;
}

#icon {
  font-size: 22px;
}
/* .active {
  color: #0000;
  background-color: white;
  border-color: white; */
/* } */
/* 


 */
/* 




.skillCard {
  width: 300px;
}

.skillContainer {
  width: 70vw;
  padding-top: 10rem;
}



.contactContainer {
  width: 80vw;
  padding-top: 20rem;
} */

.asd {
  width: 300px;
}

@media only screen and (max-width: 540px) {
  #avatar {
    margin-top: 3em;
  }

  .about {
    margin-bottom: 10em;
  }

  #brand {
    margin: 0;
    padding: 0;
  }
  .container-fluid {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
